$border-width: 1px;

.tabList {
	display: flex;
	position: relative;

	[data-orientation='horizontal'] & {
		flex-direction: row;
		align-items: center;
		border-bottom: $border-width solid var(--color-border-main);
		gap: var(--xs);
	}

	[data-orientation='vertical'] & {
		flex-direction: column;
		align-items: stretch;
		gap: var(--3xs);
		padding-block: var(--3xs);
	}
}
