@mixin item-size($height, $inline-padding) {
	height: $height;
	padding: 0 $inline-padding;

	&:not(:has(.segmentItemText)) {
		width: $height;
		padding: 0;
	}
}

.segmentGroupRoot {
	display: inline-flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	padding: var(--3xs);
	gap: var(--2xs);
	background: var(--background-secondary);
	border: 1px solid var(--border-contrast);
	border-radius: var(--3xs);

	&.small {
		.segmentItem {
			@include item-size(var(--lg), var(--xs));
		}
	}
}

.segmentItem {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	z-index: 1;
	gap: var(--3xs);
	@include item-size(var(--xl), var(--sm));
	border: 1px solid transparent;
	border-radius: var(--3xs);
	color: var(--font-main);
	cursor: pointer;
	transition:
		background-color 0.2s,
		border-color 0.2s,
		color 0.2s,
		border-width 0.2s;

	&[data-state='unchecked'] {
		background: transparent;

		&:hover:not([data-disabled]) {
			background: var(--background);
		}

		&:active:not([data-disabled]) {
			background: var(--background-tertiary);
		}

		&[data-focus-visible]:not([data-disabled]) {
			background: var(--background-action-hover-weak);
			border-width: 2px;
			border-color: var(--border-action-secondary);
		}
	}

	&[data-state='checked'] {
		&:hover:not([data-disabled]) {
			background: var(--background-action-hover-weak);
			border-color: var(--border);
		}

		&:active:not([data-disabled]) {
			background: var(--background-secondary-selected-weak);
			border-color: var(--border-action-secondary);
		}

		&[data-focus-visible]:not([data-disabled]) {
			background: var(--background-secondary-selected-weak);
			border-width: 2px;
			border-color: var(--border-action-secondary);
		}
	}

	&[data-disabled] {
		cursor: not-allowed;
		color: var(--font-disabled);

		&[data-state='unchecked'] {
			background: transparent;
		}

		&[data-state='checked'] {
			background: var(--background);
			border-color: var(--border-disabled);
		}
	}
}

[data-scope='segment-group'][data-part='item-control'] {
	position: absolute;
	inset: 0;
	pointer-events: none;
}

.segmentItemText {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	transition: color 0.2s;
}

.segmentIndicator {
	position: absolute;
	z-index: 0;
	width: var(--width);
	height: var(--height);
	left: var(--left);
	top: var(--top);
	background: var(--background);
	border: 1px solid var(--border);
	border-radius: var(--3xs);
	pointer-events: none;
}
