@use '../../styles/typography';

.metaRow {
	display: flex;
	align-items: center;
	gap: var(--xs);
}

.metaText {
	@include typography.body-xs-reg;
	color: var(--font-secondary);
}

.image {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 4px;
}
