@use '../../../../styles/typography';

.bulkActionsContainer {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--color-background);
	border-radius: 8px;
	box-shadow: 0 3.5px 14px 0 rgba(0, 0, 0, 0.2);
	z-index: 1000;
	display: flex;
	overflow: hidden;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;

	&.entering {
		animation-name: slideUpFadeIn;
	}

	&.exiting {
		animation-name: slideDownFadeOut;
	}
}

.bulkActionsContent {
	display: flex;
	align-items: center;
	padding-right: 6px;
	padding-left: 6px;
}

.selectedCountContainer {
	background-color: var(--color-background-selected);
	display: flex;
	align-items: center;
	padding: 6px 22px;
}

.selectedCountBadge {
	color: var(--color-font-on-action);
	text-align: center;
}

.bulkActionsInfo {
	color: var(--color-font-secondary);
	text-wrap: nowrap;
	padding-left: 8px;
	padding-right: 56px;
}

.bulkActionsActions {
	display: flex;
	align-items: center;
	color: var(--color-font-action-secondary);

	> .actionButton {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2px;
		margin: 8px 0;
		border-right: 1px solid var(--color-border);
		width: 68px;
		height: 48px;
		border-radius: 0;

		> .actionButtonContent {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 4px;
		}
	}

	> .actionButton:first-child {
		border-left: 1px solid var(--color-border);
	}
}

.escapeButtonContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-font-main);
	gap: 2px !important;
	width: 36px;
	padding-left: 4px;
}

@keyframes slideUpFadeIn {
	0% {
		opacity: 0;
		transform: translate(-50%, 100%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes slideDownFadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, 100%);
	}
}
