.onDark {
	padding: var(--2xl);
	background-color: var(--color-dap-brand-500);
}

.truncateBox {
	width: 260px;
	padding: var(--sm);
	border: 1px dashed var(--border);
	border-radius: var(--3xs);
	resize: horizontal;
	overflow: auto;
}
