._customItem_iyooj_1{display:flex;align-items:center;gap:8px;padding:8px}._customLabel_iyooj_8{cursor:pointer}._customLabelTitle_iyooj_12{font-weight:600}._customLabelDescription_iyooj_16{font-size:12px;color:#666}
