$scrollbar-border-radius: 100px;
$scrollbar-default-size: 10px;
$scrollbar-hover-size: 12px;
$scrollbar-thin-size: 8px;

@mixin scrollbar-auto-hide($rest-size, $hover-size) {
	&::-webkit-scrollbar {
		width: $rest-size;
		height: $rest-size;
		background: transparent;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--background-tertiary);
		border-radius: $scrollbar-border-radius;
		transition: background-color 0.2s;
	}

	&:hover {
		&::-webkit-scrollbar {
			width: $hover-size;
			height: $hover-size;
		}

		&::-webkit-scrollbar-track {
			background: var(--background-secondary);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--background-deselected-hover);
		}
	}

	scrollbar-width: thin;
	scrollbar-color: var(--background-tertiary) transparent;

	&:hover {
		scrollbar-color: var(--background-deselected-hover) var(--background-secondary);
	}
}

@mixin scrollbar-on-hover {
	@include scrollbar-auto-hide($scrollbar-default-size, $scrollbar-hover-size);
}

* {
	@include scrollbar-auto-hide($scrollbar-default-size, $scrollbar-hover-size);
}

.scrollbar-thin {
	@include scrollbar-auto-hide($scrollbar-thin-size, $scrollbar-thin-size);
}
