:root {
	--skeleton-blue-base: #dfe9ff;
	--skeleton-blue-accent: #759cec;
	--skeleton-grey-base: #f3f5fa;
	--skeleton-grey-accent: #e3e3e3;
}

.skeleton {
	animation: shimmer 2s linear infinite;
}

.grey {
	background: linear-gradient(
		90deg,
		var(--skeleton-grey-base) 0%,
		var(--skeleton-grey-base) 33%,
		var(--skeleton-grey-accent) 50%,
		var(--skeleton-grey-base) 66%,
		var(--skeleton-grey-base) 100%
	);
	background-size: 300% 100%;
}

.blue {
	background: linear-gradient(
		90deg,
		var(--skeleton-blue-base) 0%,
		var(--skeleton-blue-base) 33%,
		var(--skeleton-blue-accent) 50%,
		var(--skeleton-blue-base) 66%,
		var(--skeleton-blue-base) 100%
	);
	background-size: 300% 100%;
}

.text {
	display: block;
	margin-bottom: var(--spacing-xs);

	&:last-child {
		margin-bottom: 0;
	}
}

.circle {
	display: inline-block;
	border-radius: 50%;
	flex-shrink: 0;
}

.rectangle {
	display: inline-block;
	flex-shrink: 0;
}

.container {
	display: flex;
	flex-direction: column;
}

@keyframes shimmer {
	0% {
		background-position: 100% 0;
	}

	60% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 0;
	}
}
