.root {
	display: block;
	width: 100%;
}

.panel {
	overflow: hidden;

	&.invalid {
		outline: 1px solid var(--background-error);
		outline-offset: -1px;
	}
}

.visuallyHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	white-space: nowrap;
	clip-path: inset(50%);
}
