.container {
	display: flex;
	align-items: flex-start;
	gap: var(--xs);
	padding: var(--xs) var(--standard);
	background: var(--background-secondary-hover);
	border: 1px solid var(--outline-weak);
	border-radius: var(--3xs);
	overflow: hidden;
}

.tagsArea {
	display: flex;
	align-items: center;
	flex: 1;
	min-width: 0;
	gap: var(--xs);
	flex-wrap: wrap;
}

.actions {
	display: flex;
	align-items: center;
	gap: var(--xs);
	flex-shrink: 0;
}

.actionButton {
	flex-shrink: 0;
	white-space: nowrap;
}

.measurementContainer {
	pointer-events: none;
	display: flex;
	align-items: center;
	gap: var(--xs);
	height: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
}
