.loaderContainer {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.loader {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.pulsingOuter {
	opacity: 0.3;
	transform-origin: center;
	animation: pulse 1.4s ease-in-out infinite;
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(0.7);
		opacity: 0.3;
	}

	50% {
		transform: scale(1.1);
		opacity: 0.15;
	}
}
