.showcaseContainer {
	padding: 24px;
	width: 760px;
}

.showcaseTable {
	border-collapse: collapse;
	width: 100%;
}

.showcaseHeader {
	text-align: center;
	vertical-align: middle;
	padding: 16px;
}

.showcaseCell {
	padding: 16px;
	text-align: center;
	vertical-align: middle;
}

.showcaseCellBold {
	font-weight: bold;
	padding-right: 8px;
}

.showcaseCellInline {
	display: inline-block;
}

.showcaseCellDark {
	background: var(--brand-500-default);
	color: var(--secondary-050);
}

.horizontalDemo {
	width: 420px;
}

.verticalDemo {
	height: 140px;
}

.horizontalDividerWrapper {
	width: 520px;
}

.verticalDividerContainer {
	height: 140px;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.verticalDividerContent {
	width: 120px;
	font-size: 12px;
	display: flex;
	align-items: center;
}
