.root {
	display: flex;
	align-items: center;
	gap: var(--3xs);
	width: 100%;
	min-width: 0;
	padding: 0 var(--standard);
	height: 100%;

	&:focus-within {
		outline: none;
	}

	.editButton,
	.lockIcon {
		flex-shrink: 0;
		opacity: 0;
		pointer-events: none;
	}

	.lockIcon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	&:hover,
	&:focus-within,
	&[data-active] {
		.editButton,
		.lockIcon {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&[data-locked] {
		cursor: default;
	}
}
