name: PR

on:
  push:
    branches: ['main']

  pull_request:
    branches: ['main']

  schedule:
    - cron: '0 0 * * 6'

permissions: {}

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  CodeQL:
    name: CodeQL Security (${{ matrix.label }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read

      # required for all workflows
      security-events: write

      # required to fetch internal or private CodeQL packs
      packages: read

    strategy:
      fail-fast: false
      matrix:
        include:
          - label: 'GitHub Actions'
            language: actions

          - label: 'TypeScript'
            language: javascript-typescript

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Initialize CodeQL
        uses: github/codeql-action/init@9e907b5e64f6b83e7804b09294d44122997950d6 # v4.32.3
        with:
          languages: ${{ matrix.language }}
          queries: +security-extended

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@9e907b5e64f6b83e7804b09294d44122997950d6 # v4.32.3
        with:
          category: '/language:${{matrix.language}}'
