name: PR

on:
  push:
    branches: ['main']

  pull_request:
    branches: ['main']

  schedule:
    - cron: '0 0 * * 6'

permissions: {}

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  CodeQL:
    name: CodeQL Security (${{ matrix.label }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read

      # required for all workflows
      security-events: write

      # required to fetch internal or private CodeQL packs
      packages: read

    strategy:
      fail-fast: false
      matrix:
        include:
          - label: 'GitHub Actions'
            language: actions

          - label: 'TypeScript'
            language: javascript-typescript

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Initialize CodeQL
        uses: github/codeql-action/init@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          languages: ${{ matrix.language }}
          queries: +security-extended

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          category: '/language:${{matrix.language}}'
